{% for municipio in municipios %}
    {% for comunidad in municipio.comunidades %}
        <tr>
            <td>{{ comunidad.municipio.provincia.departamento }}</td>
            <td>{{ comunidad.municipio.provincia }}</td>
            <td>{{ comunidad.municipio }}</td>
            <td>{{ comunidad }}</td>
            <td><a href="">Editar</a></td>
        </tr>
    {% endfor %}
{% endfor %}
