{% for entity in categorias %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.cultivo }}</td>
        <td>{{ entity.nombre }}</td>
        <td><a href="">Editar</a></td>
    </tr>
{% endfor %}