{% for entity in variedades %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.cultivo }}</td>
        <td>{{ entity.nombre }}</td>
        <td>{{ entity.numeroRegistro }}</td>
        <td><a href="">Editar</a></td>
    </tr>
{% endfor %}